body {
    background-color: rgb(218, 140, 188);
}

.pesquisar-barra {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 0.9rem;
}

.apresentacao {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: rgba(#000);
    text-shadow: 1px 1px #fff;